<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création d'une question</title>
    <style>
        div {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin: auto;
            text-align: center;
        }
        input {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<form method="POST" action="{% url 'myapp:insert' %}">
    {% csrf_token %}
    <div>
        <label>Ajoutez votre question : </label>
        <input type="text" name="text">
        <input type="submit" name="submit" value="Ajouter">
    </div>
</form>
</body>
</html>